<<<<<<< HEAD
=======
/*------------------- RESET OF STYLES IN EVERY BROWSER ---------------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var, b, u, i, center, dl, dt, dd, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, input, img{
  margin: 0; padding: 0;  border: 0;  outline: 0;  font-size: 100%;  vertical-align: baseline;  background: transparent;
}
body {  line-height: 1;
font-family: sans-serif;}
ol, ul {  list-style: none;}
blockquote, q {  quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {
  content: '';  content: none;}
/* Remember to define styles for focus */
:focus {  outline: 0;}
/* It is important to add cellspacing="0" */
table {  border-collapse: collapse;  border-spacing: 0;}
/*------------------- END RESET ---------------*/
/*------------------- VARIABLES ---------------*/
:root{
  --helpBorder: 0.05em dashed black;

  --backgroundWhite: #fafafa;
  --MateBlack: rgb(26, 26, 26);
}
/*----------------- END VARIABLES --------------*/
body {
    background-color:rgba(224,227,207,.96);
}
/*----------------- Logan --------------*/
/*header*/
.container {
    background: #35424a;
    color: #ffffff;
    padding-top: 1.875em;
    min-height: 4.375em;
    border-bottom: #99ff66 .25em solid;
}
.container #branding {
    float: left;
    text-decoration: none;
}
.container #branding h1 {
    margin: 0;
    font-size: 2em;
    color: white;
    margin-left: 1em;
    margin-right: 2em;
}
.container #branding h1 a {
    text-decoration: none;
    color: white;
}
nav {
    display: inline-block;
    float: right;
    margin-right: 1em;
    font-size: 1.5em;
}
nav a {
    text-decoration: none;
    color: white;
}
#search-form {
  display: inline-block;
  text-align: center;
  padding-top: .3em;
}
#search-form input {
  display: inline-block;
  background: white;
  width: 400px;
  max-width: 100%;
  padding: 5px;
  vertical-align: top;
}
#search-form a {
  display: inline-block;
  background: white;
  color: var(--MateBlack);
  padding: 7px;
}
#search-form a:hover {
  cursor: pointer;
  background: #f2f2f2;
}
.content {
    padding: 0 1em;
    margin: 1em 0;
    border-radius: 25px;
}
.content:hover {
    background-color: var(--backgroundWhite);
    cursor: pointer;
}
/*----------------- END LOGAN --------------*/
/*----------------- NIMA --------------*/
#link {
  text-decoration: none;
  display: inline-block;
}

#link:hover {
  cursor: pointer;
}

#main{margin-left: auto;
margin-right: auto;
width: 980px;}
#titleName{font-family: sans-serif;
font-weight: bold;
font-size: 50px;
text-align: center;
margin-top:3em;}
#menu{padding: 10px;
margin-left: 50%;
display: inline-block;}

.link a:hover{cursor: pointer;}
.link {padding: 8px;}
.link a{text-decoration:none;}
#search{display: inline-block;
  margin-left:auto;
  margin-right: auto;
  text-align: center;
  width:80%;
padding: 12px;
margin-top: 10px;}
.search_input{height: 10px;}

/*----------------- END NIMA --------------*/
/*----------------- KHOA --------------*/
#main_job_posting {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 1px solid black;
    background-color: white;
}
.Container h2{
	font-variant:small-caps;
	text-transform::capitalize;
	font-size:1.5em;
}
.Container h3{
	font-variant:small-caps;
	text-transform::capitalize;
	font-size:1.5em;
}
.post_button {
    display: inline-block;
    border: solid black 1px;
}
/*----------------- END KHOA --------------*/
